h1 {
    color: #ffffff;
    font-size: 30px;
	text-align: center
}

h3 {
    color: rgb((28,28,28));
    font-size: 20px;
}

body {
    background-color: #0055ff;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
	padding-top: 5px;
	padding-bottom: 10px;
}

#cinnecta{
	position: fixed;
	top: 2%;
	left:  2%;
	height: 10%;
	width: 10%;
}


.feeling {
	margin-bottom: 20px;
	height: 5%;
	width: 5%;
}

#form-comment {
    text-align: center
}

textarea {
    font-size: 15px; 
    border: none;
    border-radius: 5px;
}

.button-comment {
  background-color: #fff;
  border: none;
  color: #0055ff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top : 10px
}

#result{
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px
}

div.box {
	
	text-align: center;
	display: block;
}

#sentment-result{
	height: 10%;
	width: 10%;
	text-align: center;
}