<!DOCTYPE html>

<html lang="pt-br">
	<head>

	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="">
	  <meta name="author" content="">
	  <link rel = "icon" href = "{{url_for('static', filename = 'images/favicon.png')}}">

	  <title>Análise de Comentários</title>
	  <link rel="stylesheet" href="/static/css/index.css">
	  
	  </head>
	  <body>
			<div class="main">
				<h1>Análise de Sentimento em Seu Aplicativo</h1>
				<img  id="cinnecta" class="logo" src="{{url_for('static', filename = 'images/cinnecta-logo.svg')}}" > 
				<div class="box">
					<img  id="feliz" class="feeling" src="{{url_for('static', filename = 'images/positivo.png')}}" > 
					<img  id="neutro" class="feeling" src="{{url_for('static', filename = 'images/neutro.png')}}" > 
					<img  id="triste" class="feeling" src="{{url_for('static', filename = 'images/negativo.png')}}" > 
				 </div>
				 
				 
				 <form action="/sentment-analysis" method="post" role="form" id="form-comment"  >
						<h3>Insira um comentário de seu aplicativo</h3>
						
						<label for="comment"></label>
						<textarea id="comment" name="comment" rows="6" cols="60" required></textarea>
						<br>
						<button class="button-comment" type="button" id = "send-comment">Enviar </button>
				 </form>
				 
			</div>
			
			<div id="result">
				
			</div>
			
			 <script type = "text/javascript" src = "{{url_for('static', filename = 'js/jquery.js')}}"></script>
			 <script type = "text/javascript" src = "{{url_for('static', filename = 'js/index.js')}}"></script>
			
	  </body>
  </html>